body {
    background: radial-gradient(circle, #1e0505, #711717);
}

h1 {
    color: rgb(206, 206, 206);
    text-align: center;
    font-size: 50px;
}

#span1e100 {
    opacity: 40%;
    color: rgb(15, 15, 15);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

section {
    background: rgb(243, 243, 243);
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    box-shadow: 15px 15px 10px rgb(41, 10, 10);
}

input[type="number"] {
    width: 200px;
    height: 35px;
    padding: 8px 12px;
    border: 2px solid #999;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Remove o contorno padrão do navegador */
    outline: none;
}

input[type="number"]:focus {
    border-color: rgb(79, 16, 16);
    box-shadow: 0 0 8px rgb(79, 16, 16);
}

select {
    width: 100%;
    text-align: center;
    border: 1.5px solid #aaa;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    cursor: pointer;
    appearance: none;
    outline: none;
}

select:hover {
    border-color: #777;
}

select:focus {
    border-color: rgb(79, 16, 16);
    box-shadow: 0 0 3px rgb(79, 16, 16);
}

.titulosDaSection {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
}

#btnEnviar, #btnFinalizar, #btnLimpar {
    background: radial-gradient(circle, #ff0000, #271111);
    box-shadow: 1px 1px 5px black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

#btnFinalizar {
    margin: 10px;
}

#div2 {
    margin-top: 30px;
}

footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-style: italic;
    color: rgb(206, 206, 206);
}

#numAdicionados {
    font-family: 'Courier New', monospace;
}

.resultado {
    font-family: 'Courier New';
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 8px;
    border-left: 4px solid rgb(53, 29, 29);
    margin: 6px 0;
}